html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e9ecef;
}
h6{
  text-align:left;
  font-size:  30px;
}

#head{
  color: #F2604E;
  font-size: 100px;

}

div {
  border-radius: 5px;
}

.btn, .btn-success, .btn:hover, .btn:active{
  background-color: #F2604E;
  border-color: #F2604E;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/**.btn-success {
  color: #fff;
  background-color: #F2604E;
  border-color: #F2604E;
}

.btn:hover{
  background-color: #F2604E;
  border-color: #F2604E;
}

.btn:active{
  background-color: #F2604E;
  border-color: #F2604E;
}**/